body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: red;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}